<!DOCTYPE html>
<html th:replace="~{layout :: template(~{::title}, ~{::section}, 'Stock Check History')}" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Retail BO :: Stock Check History</title>
    </head>
    <body>
        <section class="stockadjustment-list content-section">
            <!-- ---------------search starts here----------- -->
            <div class="search-container">
            	
                <button class="btn-theme btn-green pull-right" data-toggle="modal"
                        data-target="#addNew" style="margin-right: 0px; height: 38px;">
                   <a th:href="@{/stockCheckCreate}"> 
                   <i class="fa fa-plus hidden-xs" aria-hidden="true"></i> Create New </a>
                </button>
                <form class="form-inline" th:action="@{/getStockCheckHistory}" method="get">
                    <div class="form-group">
                        <label for="search" class="control-label">Search
                            Transaction</label> <input type="search" class="form-control" id="search"
                                                   name="search" placeholder="Search By transaction Id"> <select
                                                   name="status" class="form-control">
                            <option>Select Status</option>
                        </select>
                    </div>
                    <br>
                    
                    <class="form-group">
                        <label  style="margin-right: 4%;" class="control-label" for="date_from">Date From</label> <input
                            type="date" name="date_from" id="date_from" class="form-control">
                       
                        <label   class="control-label" for="date_to">Date To</label> <input
                            type="date" name="date_to" id="date_to" class="form-control">
                            
                        <button   stype="submit" class="btn-theme btn-go">
                        Go
                        </button>
                                </form>

            </div>
            <div class="clear"></div>
            <div class="search-div col-md-12">
                <form class="" action="">
                    <i class="fa fa-search"></i> <input type="text"
                    placeholder="Filter Results" name="search">

                </form>
                <button class="btn-clear-search pull-right">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    <a th:href="@{/stockCheckHistory}"/> CLEAR SEARCH</a>
                </button>
            </div>
            
            <div class="clear"></div>

            <!-- ---------------search ends here----------- -->
            <div class="col-md-12 table-container">
                <table id="rateadjustment" class="red-head row-border order-column"
                       style="width: 100%">
                    <thead>
                        <tr>
                            <th>Stock Check Remark</th>
                            <th>Type</th>
                            <th>Status</th>
                            <th>Initiated By</th>
                            <th>Initiated Date</th>
                            <th>Approved By</th>
                            <th>Approved Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    	
                        <tr th:each="stockCheckTicket: ${stockCheckTicketList}">
                            <!-- <td th:text="${stockCheckTicket.get('workEffortId')}"></td> -->
                            <td th:text="${stockCheckTicket.get('description')}"></td>
                            <td >Stock Check</td>
                            <td >Approved</td>
                            <td th:text="${stockCheckTicket.get('createdByUserLogin')}"></td>
                            <td th:text="${stockCheckTicket.get('createdDate')}"></td>
                            <td th:text="${stockCheckTicket.get('createdByUserLogin')}"></td>
                            <td th:text="${stockCheckTicket.get('approveDate')}"></td>
                            <td th:if="${stockCheckTicket.get('currentStatusId')} == 'CAL_TENTATIVE'"><a th:href="@{/getStockCheckEntry(workEffortId=${stockCheckTicket.get('workEffortId')},facilityId=${stockCheckTicket.get('facilityId')})}">Create Stock Check</a></td>
                            <td th:if="${stockCheckTicket.get('currentStatusId')} == 'CAL_CONFIRMED'"><a th:href="@{/getStockCheckConfirm(workEffortId=${stockCheckTicket.get('workEffortId')},facilityId=${stockCheckTicket.get('facilityId')})}">Complete Stock Check</a></td>
                            <td th:if="${stockCheckTicket.get('currentStatusId')} == 'CAL_COMPLETED'">Stock Check Complete</td>
                            <!-- <td><a th:href="@{/getStockCheckEntry}">Create Stock Check</a></td> -->
                            <!-- <td><a href="#"><img src="assets/images/print.png" width="24"></a></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>

        </section>
    </body>
</html>